body {
    margin: 0;
    font-family: "Arial", sans-serif;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  a:hover {
    color: #ffcc00;
  }

  input {
    padding: 5px;
    margin-right: 10px;
  }

  button {
    padding: 5px 10px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    cursor: pointer;
  }

  a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffcc00;
  }

  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #home {
    text-align: center;
  }

  .blurry-background img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }

  #about {
    background-color: #333333;
    color: #333;
  }

  #services {
    background-color: #800000;
  }

  #contact {
    background-color: #000000;
  }

  .website-name {
    font-size: 5em;
    font-family: "Cormorant Garamond", serif;
    margin-bottom: 10px;
  }

  .slogan {
    font-size: 2em;
  }